<!-- Generated template for the StadiumComponent component -->
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          Name: {{stadium.Name}}
        </ion-row>
        <ion-row>
          Address: {{stadium.Address}}
        </ion-row>
        <ion-row>
          City: {{stadium.City}}
        </ion-row>
        <ion-row>
          State: {{stadium.State}}
        </ion-row>
        <ion-row>
          Zip: {{stadium.Zip}}
        </ion-row>
        <ion-row>
          Country: {{stadium.Country}}
        </ion-row>
        <ion-row>
          Capacity: {{stadium.Capacity}}
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>